<a href="https://colab.research.google.com/github/ibukunlola/capstone/blob/main/data_cleaning.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

fdi = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/fdi.csv")
pol_instability = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/pol_instability.csv")
gni = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/gni.csv")
curr_act_bal = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/current_act_bal.csv")

In [3]:
clean_df = pd.DataFrame(columns=['country_name', 'year', 'fdi', 'pol_instability', 'gni', 'curr_act_bal'])
clean_df_fdi = pd.DataFrame(columns=['country_name', 'year', 'fdi'])
clean_df_pol_instability = pd.DataFrame(columns=['country_name', 'year', 'pol_instability'])
clean_df_gni = pd.DataFrame(columns=['country_name', 'year', 'gni'])
clean_df_curr_act_bal = pd.DataFrame(columns=['country_name', 'year', 'curr_act_bal'])

In [6]:
def insertion(df, data):
  index = 0

  for _, row in data.iterrows():
    for year in range(2010, 2019):
      df.loc[index] = [row["Country Name"], year, row[str(year)]]
      index += 1

In [7]:
insertion(clean_df_fdi, fdi)
insertion(clean_df_pol_instability, pol_instability)
insertion(clean_df_gni, gni)
insertion(clean_df_curr_act_bal, curr_act_bal)

In [9]:
clean_df_fdi.head(5)
clean_df_pol_instability.head(5)
clean_df_gni.head(5)
clean_df_curr_act_bal.head(5)

  country_name  year  curr_act_bal
0       Angola  2010  7.505954e+09
1       Angola  2011  1.308464e+10
2       Angola  2012  1.384119e+10
3       Angola  2013  8.145070e+09
4       Angola  2014 -3.747518e+09

In [10]:
clean = clean_df_fdi.merge(clean_df_pol_instability, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])
clean = clean.merge(clean_df_gni, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])
clean = clean.merge(clean_df_curr_act_bal, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])

In [11]:
clean

    country_name  year           fdi  pol_instability     gni  curr_act_bal
0         Angola  2010 -3.227211e+09        -0.226182  5950.0  7.505954e+09
1         Angola  2011 -3.023771e+09        -0.369238  6130.0  1.308464e+10
2         Angola  2012 -1.464628e+09        -0.389323  6810.0  1.384119e+10
3         Angola  2013 -7.120017e+09        -0.391234  7130.0  8.145070e+09
4         Angola  2014  3.657515e+09        -0.333232  7680.0 -3.747518e+09
..           ...   ...           ...              ...     ...           ...
427     Zimbabwe  2014  4.728000e+08        -0.713570  2360.0 -2.405182e+09
428     Zimbabwe  2015  3.992000e+08        -0.618156  2410.0 -1.678451e+09
429     Zimbabwe  2016  3.430138e+08        -0.619938  2560.0 -7.179652e+08
430     Zimbabwe  2017  2.471877e+08        -0.708769  3210.0 -3.078109e+08
431     Zimbabwe  2018  7.446372e+08        -0.722774  3370.0           NaN

[432 rows x 6 columns]

In [12]:
clean.to_csv("clean_df.csv")

In [13]:
nan_removed_df = clean.dropna() 
nan_removed_df.to_csv("nan_removed_df.csv")

In [14]:
average_df = clean.fillna(clean.mean())

In [15]:
average_df.to_csv("average_df.csv")