<a href="https://colab.research.google.com/github/ibukunlola/capstone/blob/main/model3/data_cleaning3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

fdi = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/model3/02_01_fdi.csv")
gdp = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/model3/02_01_gdp.csv")
gni = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/model3/02_01_gni.csv")
pol_stab = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/model3/02_01_pol_stab.csv")
pop = pd.read_csv("https://raw.githubusercontent.com/ibukunlola/capstone/main/model3/02_01_pop.csv")

In [ ]:
clean_df = pd.DataFrame(columns=['country_name', 'year', 'fdi', 'gdp', 'gni', 'pol_stab', 'pop'])
clean_df_fdi = pd.DataFrame(columns=['country_name', 'year', 'fdi'])
clean_df_pol_stab = pd.DataFrame(columns=['country_name', 'year', 'pol_stab'])
clean_df_gni = pd.DataFrame(columns=['country_name', 'year', 'gni'])
clean_df_gdp = pd.DataFrame(columns=['country_name', 'year', 'gdp'])
clean_df_pop = pd.DataFrame(columns=['country_name', 'year', 'pop'])

In [ ]:
clean_df_fdi

Empty DataFrame
Columns: [country_name, year, fdi]
Index: []

In [ ]:
def insertion(df, data):
  index = 0
  for _, row in data.iterrows():
    for year in range(2010, 2019):
      df.loc[index] = [row["Country Name"], year, row[str(year)]]
      index += 1

In [ ]:
insertion(clean_df_fdi, fdi)
insertion(clean_df_pol_stab, pol_stab)
insertion(clean_df_gni, gni)
insertion(clean_df_gdp, gdp)
insertion(clean_df_pop, pop)

In [ ]:
clean_df_fdi.head(5)
clean_df_pol_stab.head(5)
clean_df_gni.head(5)
clean_df_gdp.head(5)
clean_df_pop.head(5)

  country_name  year         pop
0  Afghanistan  2010    29185511
1  Afghanistan  2011    30117411
2  Afghanistan  2012  31161378.0
3  Afghanistan  2013  32269592.0
4  Afghanistan  2014  33370804.0

In [ ]:
clean = clean_df_fdi.merge(clean_df_pol_stab, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])
clean = clean.merge(clean_df_gni, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])
clean = clean.merge(clean_df_gdp, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])
clean = clean.merge(clean_df_pop, how='inner', left_on=["country_name", "year"], right_on=["country_name", "year"])

In [ ]:
clean

     country_name  year           fdi  ...           gni           gdp         pop
0     Afghanistan  2010 -1.920225e+08  ...  1.588461e+10  1.585668e+10    29185511
1     Afghanistan  2011 -5.103628e+07  ...  1.778570e+10  1.780511e+10    30117411
2     Afghanistan  2012 -6.568451e+07  ...  1.993866e+10  1.990732e+10  31161378.0
3     Afghanistan  2013 -4.777403e+07  ...  2.021669e+10  2.014640e+10  32269592.0
4     Afghanistan  2014 -4.299442e+07  ...  2.049475e+10  2.049713e+10  33370804.0
...           ...   ...           ...  ...           ...           ...         ...
1840     Zimbabwe  2014 -4.728000e+08  ...  1.915473e+10  1.949552e+10  13586710.0
1841     Zimbabwe  2015 -3.992000e+08  ...  1.959700e+10  1.996312e+10  13814642.0
1842     Zimbabwe  2016 -3.430138e+08  ...  2.015340e+10  2.054868e+10  14030338.0
1843     Zimbabwe  2017 -3.062531e+08  ...  1.727577e+10  1.758489e+10  14236599.0
1844     Zimbabwe  2018 -7.170786e+08  ...  1.781019e+10  1.811554e+10  14438812.0

[1845 rows x 7 columns]

In [ ]:
clean.to_csv("clean_df.csv")

In [ ]:
nan_removed_df = clean.dropna() 
nan_removed_df.to_csv("nan_removed_df.csv")

In [ ]:
average_df = clean.fillna(clean.mean())

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  """Entry point for launching an IPython kernel.

In [ ]:
average_df.to_csv("average_df.csv")